.input{
  width: 100%;
  height: 46px;

}

.input:focus{
  background-color: #DCDCDC;
}

.input-error{
  border:1px solid red;
}


.input-card{
  width: 166px;
  height: 46px;
}
.input-card-cvc{
  width: 166px;
  height: 46px;
}
