<header class="header">
  <section class="header-content">
    <img src="../../project/img/logo.svg" alt="logo" class="header-logo">
    <div class="header-links">
      <p class="header-text">Мои бронирования</p>
      <div class="header__email-wrapper">
        <img src="../../project/img/people.svg" alt="People" class="email-logo">
        <p class="header__email-wrapper-text">ivanov@gmail.com</p>

        <ul class="dropdown">
          <li class="dropdown-element">Настройки</li>
          <hr class="dropdown-line">
          <li class="dropdown-element">Выйти</li>
        </ul>
      </div>
    </div>
  </section>
</header>
<link rel="stylesheet" href="../../project/css/main.css">
