
<form class="form-container">
  <h1 class="form-title">
    Реквизиты карты
  </h1>

  <section class="form-wrapper">
    <div class="input-container">
      <label for="card-number">Номеры карты</label>
      <input  placeholder="0000 0000 0000 0000" class="input" id="card-number">
    </div>
    <div class="input-container input-card-info">
      <div class="card-wrapper">
        <label for="card-period">Срок</label>
        <input  placeholder="ММ/ГГ" class="input-card input" id="card-period">
      </div>
      <div class="card-wrapper">
        <label for="card-cvv">CVV</label>
        <input  placeholder="ММ/ГГ" class="input input-card" id="card-cvv">
      </div>
    </div>
    <div class="button-container">
  <a href="#" class="button button--disabled form-button">Привязать карту</a>

      <button class="button button--light button--unborder form-button">Привязать потом</button>
    </div>
  </section>

</form>

