.form-container{

  width: 456px;
  height: 488px;
  margin: 0 auto;

}

.input-container{
  margin: 20px 0;
}

.input{
  margin-top: 10px;
}

.form-wrapper{
  width: 360px;

}

.input-card-info{
  display: flex;
  justify-content: space-between;
}

.button{
  width: 100%;
}

.input-span{
  font-size: 16px;
  line-height: 22px;
  color: #858585;
  padding-bottom: 10px;
}

.reg-password{
  margin-bottom: 10px; /* Форма пароля с подсказкой "Минимум 8 символов", для формы регистрации */
}

.button--unborder{
  border: none;
}

