

<form class="form-container">
  <h1 class="form-title">
    Вход
  </h1>

  <section class="form-wrapper">
    <div class="input-container">
      <label for="email-password">Электронная почта</label>
      <input type="email" placeholder="Enter the email" class="input" id="email-password">
    </div>
    <div class="input-container">
      <label for="input-password">Пароль</label>
      <input type="password" placeholder="Enter the password" class="input" id="input-password">
    </div>
    <div class="button-container">
      <a href="#" class="button button--disabled form-button">Войти</a>

      <button class="button form-button button--light button--unborder">Регистрация</button>
    </div>
  </section>

</form>


